
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="item">
    <div align="center">
    <img src="~/Content/images/teknoloji_market.jpg" alt="resim" width="750" height="500"></div>

</div>
<div>
    <div>
                    <br />
                    
                    <div align="center">
                        <span class="label label-danger"><b>@Resources.Home.hakkimizda</b></span>

                    </div>
        <p>
            <div align="center">
                <br />
                <b>
                    @Resources.Home.hakkimizda_metin

                </b>
                <br />

            </div>
        </p>
    </div>
</div>

