
@{
    Layout = null;
}

@model IEnumerable<SakaryaBufe.Models.Urunler>


<link rel="stylesheet" href="~/Content/w3_slider.css" type="text/css" media="screen" />
<style>
    .mySlides {
        display: none;
    }
</style>


<div class="w3-content w3-display-container">

    @foreach (var item in Model)
    {
        <img class="mySlides" src="~/Content/images/@item.ResimYol" style="width:100%" height="500">

    }

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>


<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
</script>




<div class="clearfix"> </div>

