<!DOCTYPE html>
<html>
<head>
    <title>Sakarya Büfe Yönetici Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/Content/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/Content/admin/css/styles.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1><a href="index.html">TeknoMark Yönetici Paneli</a></h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-lg-12">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@HttpContext.Current.User.Identity.Name <b class="caret"></b></a>
                                    <ul class="dropdown-menu animated fadeInUp">
                                        <li><a href="/tr/Home/Index">Siteye Dön</a></li>
                                        <li>@Html.ActionLink("Çıkış Yap", "CikisYap", "Uyelik" , new { lang = "tr" } , null)</li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="page-content">
        <div class="row">
            <div class="col-md-2">
                <div class="sidebar content-box" style="display: block;">
                    <ul class="nav">
                        <!-- Main menu -->
                        <li class="current">
                            
                        <a href="/tr/Urunler/Index"><i class="glyphicon glyphicon-home"></i> Yönetim Paneli </a>
                        
                        </li>

                        <li class="submenu">
                            <a href="#">
                                <i class="glyphicon glyphicon-list"></i> Ürünler
                                <span class="caret pull-right"></span>
                            </a>
                            <!-- Sub menu -->
                            <ul>
                                <li><a href="/tr/Urunler/Index">Ürünleri Gör</a></li>
                                <li><a href="/tr/Urunler/Create">Yeni Ürün Oluştur</a></li>
                            </ul>
                        </li>
                        <li><a href="/tr/Uyeler/Index"><i class="glyphicon glyphicon-stats"></i> Kişiler </a></li>
                        <li><a href="/tr/Kategori/Index"><i class="glyphicon glyphicon-list"></i> Kategoriler </a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-10">
                @RenderBody()

            </div>
           

        </div>
    </div>

    <footer>
        <div class="container">

            <div class="copy text-center">
                Copyright TeknoMark <a href='#'>Website</a>
            </div>

        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/admin/js/custom.js"></script>
</body>
</html>