
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="item">
    <div align="center"><img src="/Content/images/büfe.jpg" alt="resim"></div>
   
</div>
<div>
    <div>
        <p>
            <h2>
                <b> <br /> 
                    <div align="center"><span class="label label-danger"><b>HAKKIMIZDA</b></span>
 
                  </div>
            

            </b>
    </h2>
    </p>
    <p>
        <b>
            <br />
            2010 yılında Şenol Sakarya ve Güler Sakarya tarafından kurulan Sakarya Büfe, ayak üstü geçerken uğrayabileceğiniz,
            hijyenik ve pratik paketli ürünleriyle açlığınızı bastırabileceğiniz bir mekan olarak karşınıza çıkmaktadır.Beykoz'un tarihi Şişecam Fabrikası
            yan sokağındaki İncirköy Mahallesinde bulunan büfemizde Bisküvi,çikolata,kek,sakız ve içecek çeşitleri ile hizmetinizdeyiz.
        </b>
    </p>
</div>
</div>

